@page "/datagrid-edit"
@using System.Collections.ObjectModel
<h3>DataGrid</h3>
@if (weatherForecasts is null)
{
    <p>loading ...</p>
}
else
{
    <label>editable datagrid</label>
    <SayehDataGrid TItem="WeatherForecast" Items="weatherForecasts" RowsDelete="OnRowsDeleted">
        <SayehSelectColumn Property="p => p.IsSelected" />
        <SayehPropertyColumn Property="p => p.Order" />
        <SayehDatePickerColumn Property="p => p.Date" />
        <SayehPropertyColumn Property="p => p.DayofWeek" />
        <SayehComboboxColumn Property="p => p.Type" Items="DayTypes" ValueMember="v => v" />
        <SayehNumericTextboxColumn Property="p => p.Tempreture" />
        <SayehPropertyColumn Property="p => p.TemporatureF" />
        <SayehTextboxColumn Property="p => p.Description" />
        <SayehHierarchyColumn TItem="WeatherForecast" TValue="Guid?" TOption="HierarchycalItem" Items="hierarchycalItems"
                              ValueMember="v => v.ID"
                              DisplayMember="f => f?.Name"
                              Parent="f=> f.Parent"
                              Children="f=> f.Children"
                              SelectedItem="f=> f.Hierarchy"
                              Property="f=> f.F_Hierarchy"
                              Title="Hierarchy" />
    </SayehDataGrid>
}
@code {

    private IList<WeatherForecast>? weatherForecasts { get; set; }
    private IEnumerable<HierarchycalItem>? hierarchycalItems { get; set; }

    private DayType[]? DayTypes { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            DayTypes = Enum.GetValues<DayType>();
            hierarchycalItems = HierarchycalItem.GetHierarchycalItems(3, 4).Flatten();
            weatherForecasts = WeatherForecast.GenerateItems(hierarchycalItems);
            StateHasChanged();
        }
        base.OnAfterRender(firstRender);
    }

    protected void OnRowsDeleted(IEnumerable<WeatherForecast> list)
    {
        foreach (var item in list)
        {
            weatherForecasts!.Remove(item);
        }
    }

}