@page "/datagrid-edit"
<h3>DataGrid</h3>
@if (weatherForeacasts is null)
{
    <p>loading ...</p>
}
else
{
    <label>editable datagrid</label>
    <SayehDataGrid TItem="WeatherForeacast" Items="weatherForeacasts">
        <SayehPropertyColumn Property="p=> p.Order" />
        <SayehDatePickerColumn Property="p=> p.Date" />
        <SayehPropertyColumn Property="p=> p.DayofWeek" />
        <SayehComboboxColumn Property="p=> p.Type" Items="DayTypes" ValueMember="v=> v" />
        <SayehNumericTextboxColumn Property="p=> p.Tempreture" />
        <SayehPropertyColumn Property="p=> p.TemporatureF" />
        <SayehTextboxColumn Property="p=> p.Description" />
    </SayehDataGrid>
}
@code {

    private IEnumerable<WeatherForeacast>? weatherForeacasts { get; set; }

    private DayType[]? DayTypes { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            DayTypes = Enum.GetValues<DayType>();
            weatherForeacasts = new WeatherForecastModel().GetItems();
            StateHasChanged();
        }
        base.OnAfterRender(firstRender);
    }

}