@page "/datagrid-edit"
@using System.Collections.ObjectModel
<h3>DataGrid</h3>
@if (WeatherForecasts is null)
{
    <p>loading ...</p>
}
else
{
    <label>editable datagrid</label>
    <SayehDataGrid TItem="WeatherForecast" Items="WeatherForecasts" RowsDelete="OnRowsDeleted">
        <SayehSelectColumn Property="p => p.IsSelected" />
        <SayehPropertyColumn Property="p => p.Order" />
        <SayehDatePickerColumn Property="p => p.Date" />
        <SayehPropertyColumn Property="p => p.DayofWeek" />
        <SayehComboboxColumn Property="p => p.Type" Items="DayTypes" ValueMember="v => v" />
        <SayehNumericTextboxColumn Property="p => p.Tempreture" />
        <SayehPropertyColumn Property="p => p.TemporatureF" />
        <SayehTextboxColumn Property="p => p.Description" />
    </SayehDataGrid>
}
@code {

    private IList<WeatherForecast>? WeatherForecasts { get; set; }

    private DayType[]? DayTypes { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            DayTypes = Enum.GetValues<DayType>();
            WeatherForecasts =  new ObservableCollection<WeatherForecast>(WeatherForecast.GenerateItems());
            StateHasChanged();
        }
        base.OnAfterRender(firstRender);
    }

    protected void OnRowsDeleted(IEnumerable<WeatherForecast> list)
    {
        foreach (var item in list)
        {
            WeatherForecasts!.Remove(item);
        }
    }

}