@namespace Sayeh.AspNetCore.Components
<div>
<FluentNumberField TValue="double?" @bind-Value=FromNumber >From</FluentNumberField>
</div>
<div>
<FluentNumberField TValue="double?" @bind-Value=ToNumber>To</FluentNumberField>
</div>
<div>
<FluentButton @onclick="DataEntered">Search</FluentButton>
</div>


