@page "/treeview-itemtemplate"
<h3>TreeView Hierarchy Source</h3>
@if (Items is not null)
{
    <SayehTreeView Items="Items" @bind-SelectedItem="SelectedItem" Children="f=> f?.Children" Parent="p=> p?.Parent">
        <ItemTemplate>
            @{
                var item = context as HierarchycalItem;
            }
            <span class="treeitem-text">@item!.Name - (@item!.Children.Count())</span>
        </ItemTemplate>
    </SayehTreeView>

    <label>selected Item is : @SelectedItem?.ToString() </label>
}

@code {
    IEnumerable<HierarchycalItem>? Items { get; set; }
    HierarchycalItem? SelectedItem { get; set; }


    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Items = HierarchycalItem.GetHierarchycalItems(4,4);
            SelectedItem = Items.First().Children.FirstOrDefault();
            StateHasChanged();
        }
        base.OnAfterRender(firstRender);
    }

}
