@import '/_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css';

fluent-anchor.disabled::part(control) {
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: none;
    color: var(--neutral-foreground-rest);
}
fluent-anchor {
    height: calc((var(--base-height-multiplier) + var(--density)) * var(--design-unit) * 1px);
}

/*fluent-tooltip.invalid {
    background: var(--error);
    color: var(--neutral-foreground-rest);
}
*/