.col-options {
    position: absolute;
    top: 2.2rem;
    background: var(--neutral-layer-2);
    border: 1px solid var(--neutral-layer-3);
    border-radius: 0.3rem;
    box-shadow: 0 3px 8px 1px var(--neutral-layer-4);
    padding: 1rem;
    z-index: 1;
    display:flex;
    flex-direction:column;
    text-align:start;
    flex-basis:2rem;
    min-width:200px;
}

[dir=rtl] .col-options {
    left: unset;
}

.col-justify-end .col-options, .col-justify-right .col-options {
    left: unset;
    right: 0.2rem;
}

[dir=rtl] .col-justify-end .col-options, [dir=rtl] .col-justify-right .col-options {
    right: unset;
    left: 0.2rem;
}

fluent-anchor {
    margin-bottom: .75rem;
}